.page {
    background:#ffffff;
}

.nav_bar_frame {
  height: 108px;
  background: #255193;
}

.main_frame {
  display: flex;
  padding-bottom: 50px;
  padding-top: 86px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner_frame {
  display: flex;
  padding-bottom: 50px;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.title {
  color: #FFF;
  text-align: center;
  justify-content: center;
  font-family: "Jost";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
}

.restaurant_frame {
  display: flex;
  width: 208px;
  padding: 0px 0px 8px 1px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.restaurant_picture {
  width: 206px;
  height: 206px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.25);
}

.restaurant_picture:hover{
  box-shadow: 0px 0px 0px 0px;
}

.restaurant_text {
    width: 207px;
    height: 28px;
    text-align: center;
    font-family: "Jost";
    /* justify-content: center; */
}